header {
  width: 100%;
}

.header-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../imges/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
}

h1 {
  text-align: center;
  font-size: 90px;
  font-family: "PostNoBillsColombo";
  margin-bottom: 200px;
  color: #fff;
  text-shadow: 1px 1px 0 #aaa, -1px 1px 0 #aaa, 1px -1px 0 #aaa,
    -1px -1px 0 #aaa;
}

.list-brands {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 55px;
  border: 1px solid #aaa;
}

.list-brands li {
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-brands svg {
  width: 85px;
  height: 85px;
  display: block;
}

.list-brands svg use {
  transform: translate(0, 0);
}

.about-us {
  display: flex;
  flex-direction: column;

  height: 1000px;
}
